<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head") %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
</head>
<body>
<%- include("./partials/nav") %>
<div class="container mt-3">
    <h1><%=blogs.title  %></h1>
    <img src="<%=blogs.coverImageUrl %>" width="600px"/>
    <pre><%= blogs.body %></pre>
</div>
<div class="container  mt-4">
<img src="<%=blogs.createdBy.ProfileImageUrl %>" width="50px"/><%=blogs.createdBy.fullName %>
</div>

<!--comments are created only that user , if that user is logged in-->
<div class="container mt-3">
    <h4 class="mb-2">comment(<%= comments.length %>)</h4>
        <% if (locals.user) { %>
         <form action="/comment/<%= blogs._id %>" method="post">
           
            <div class="mb-3">
                
                <input
                    type="text"
                    class="form-control"
                     name="content"
                     placeholder="Enter your comment"
                     >
                <button type="submit" class="btn btn-sm btn-primary mt-3 ">Add</button>
            </div>
</form>
        <% } %>


<!--comments are visible to everyone , if user is logged in then only that user is able add comment-->
<div class="container mt-3">
    <% comments.forEach(comment => { %>
        <div>
            
             <img src="<%= comment.createdBy.ProfileImageUrl %>" width="50px" style="border-radius:50%">
                <%= comment.createdBy.fullName %>
                <pre><%= comment.content %></pre>
            </div>
    <% }) %>
</div>
</div>
<%- include("./partials/scripts") %>
</body>
</html>